body {
  margin: 0;
  background-color: #FCDCBA;
  font-family: Helvetica;
}

.item-icon-box{
  background-color: #063A51;
  box-sizing: border-box;
  padding: 20px;
  color: white;
}


.menu-bar{
  display: flex;
}

.menu-option{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  user-select: none;
}

.menu-option div{
  margin: 0 5px;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
  text-align: end;
  height: -webkit-fill-available;
  /* background-color: lightgray; */
  border: solid 2px  #063A51;
  margin: 20px;
  /* border-radius: 15px; */
}

/* 
  .record {
    display: block;
    margin: 20px;
    width: screen;
    height: screen;
    color: white;
    background-color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
} */

.record div{
  color: black;
}

/* .bar {
  display: flex;
  width: screen;
  height: 60px;
  background-color: #4CB6C2;
  color: #14726f;
} */

/* .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  width: 70px;
  height: 40px;
  background-color: white;
  color: #14726f;
  border-radius: 10px 10px 10px 10px;
  border-width: 0;
  cursor: pointer;
} */

.usericon-box{
  display: flex;
  justify-content: center;
  
}

.usericon {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  width: 80px;
  height: 80px;
  background-color: black;
  font-family: white;
  border-radius: 100px 100px 100px 100px;
}

.far fa-user-alt {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-family: white;
  color: white;
  size: 20px;
}

.item{
  /* width: 25%; */
  margin: 0 auto;
}

#user-icon{
  background-color: black;
  color: white;
  font-size: 70px;
}

.usericon{
  width: 150px;
  height: 150px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usericon-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-family: black Helvetica, 
}

.userid {
  display: flex;
  justify-content: center;
  font-size: 11px;
  font-family: gray, Helvetica;
}

.change-profile {
  display: flex;
  justify-content: center;
  font-size: 11px;
  font-family: black, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.change-email {
  display: flex;
  justify-content: center;
  font-size: 11px;
  font-family: black, Arial, Helvetica, sans-serif;
}

.change-password {
  display: flex;
  justify-content: center;
  font-size: 11px;
  font-family: black, Arial, Helvetica, sans-serif;
}

.expenses-record {
  display: flex;
  justify-content: center;
  font-size: 11px;
  font-family: black, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.income-types {
  display: flex;
  justify-content: center;
  font-size: 11px;
  font-family: black, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.expenses-types {
  display: flex;
  justify-content: center;
  font-size: 11px;
  font-family: black, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

hr.style1{
	border-top: 1px solid #8c8b8b;
}

/* .content{
  width: 60vw;
  height: 100vh;
  background-color: #B0E3E6;
  box-shadow: 0px 0px 20px black;
  margin: 0 auto;
} */

.content{
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px black;
  margin: 0 20vw;
  background-color: white;
  min-height: 100vh;
  /* min-width: 600px;
  max-width: 600px; */
  /* min-height: calc(100vh - 16px); */
  /* margin: 8px; */
  /* background-color: #B0E3E6; */
}

.btn btn-primary {
    display: block;
    cursor: pointer;
    /* width: 20px;
    height: 10px;
    font-size: 5px; */
}

.far fa-camera-alt {
    display: block;
    width: 5px;
    height: 5px;
    color: black;
    font-size: 10px;
}

/* .fade {
  display: none;
  /* background-color: blanchedalmond; 
} */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.username {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* .cr-boundary {
  display: block;
  width: 200px;
  height: 200px;
}

.cr-viewport cr-vp-circle{
  display: block;
  width: 200px;
  height: 200px;
}

.cr-overlay {
  display: block;
  width: 200px;
  height: 200px;
}

.cr-image {
  display: block;
  width: 200px;
  height: 200px;
}

.actions {
  display: block;
  width: 200px;
  height: 200px;
}

.btn file-btn {
  display: block;
  width: 90px;
  height: 40px;
}

.upload-result {
  display: block;
  width: 90px;
  height: 40px;
}

#myModal {
  display: block;
  width: 100vw;
  height: 100vh;
}

#myModal.modal {
  display: block;
  width: 100vw;
  height: 100vh;
} */

/* .cr-boundary {
position: relative;
overflow: hidden;
margin: 0 auto;
z-index: 1;
width: 300px !important;
height: 300px !important;
} */

@media screen and (max-width: 600px) {
  .content{
      height: 100vh;
      margin: 0;
  }
}
