body{
    margin: 0;
    position: relative;
}

header{
    position: sticky;
    top:0;
    z-index: 1;
}

.nav-bar{
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

#logo{
    flex: 1;
    font-size: 2em;
    font-family: 'Lobster Two', cursive;
}

#nav-bar-selection{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}

#nav-bar-selection div{
    padding: 0 0 0 20px;
    font-size: 1em;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
}

#nav-bar-selection div:hover {
    color: wheat;
}

#nav-bar-selection div:after {    
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#nav-bar-selection div:hover:after { 
    width: 2.8rem; 
    left: auto;
}

/* footer{
    background-color: #F7BFC2;
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
} */

/* header2{
    display: none;
} */

@media screen and (max-width: 400px) {
    header{
        position: relative;
        top:0;
        z-index: 1;
    }
    /* header{
        display: none;
    } */
    /* minHeader{
        display: ;
    }
    .show {
        display: block;
    } */
}
