.top-container{
    height: auto;
    position: relative;
    display: flex;
}

#top-container-vector-background{
    flex: 1;
    background-image: url(./image/soft-pink-wooden-background.jpg);
    background-size: cover;
    opacity: 0.8;
}

.top-container-background{
    flex: 1;
    height: 500px;
    display: flex;
    /* background-color: antiquewhite; */
}


#top-container-cat-photo{
    flex:1.5;
    background-image: url(./image/cute-domestic-cat-sitting-front-door-during-daytime.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

#top-container-sentence{
    color: white;
    font-family: 'Lobster Two', cursive;
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 20px;
    text-shadow: grey 0.1em 0.1em 0.4em;
}

#top-container-sentence h1{
    font-size: 3em;
}

#top-container-sentence h3{
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 15px;
}

.middle-container h3{
    text-align: center;
    font-size: 2em;
    font-family: 'Lobster Two';
    color: darkgrey;
}

.describe-box{
    display: flex;
    justify-content: center;
    font-family: 'Maven Pro', sans-serif;
}

.describe-box-services{
    width: 25vw;
    background-color: #FCE8E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 2.5em 1.5em;
    margin: 0 1vw;
}

.describe-box-image i{
    color: indianred;
    font-size: 5vw;
}

.describe-box-services h4{
    color: indianred;
    font-size: 2vw;
    text-align: center;
}

.describe-box-content{
    color: grey;
    font-size: 1em;
    text-align: center;
    line-height: 2;
}

.passage-box{
    display: flex;
    justify-content: center;
}

.passage-box-content{
    width: 79vw;
    height: 300px;
    background-color: #FCE8E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5em;
    color: grey;
    font-size: 1em;
    line-height: 2;
    margin: 2em 0;
}

.passage-box-content h3{
    margin: 0 0 10px 0;
}

.passage-box-content div{
    font-family: 'Maven Pro', sans-serif;
    text-align: justify;
}

@media screen and (min-width: 1080px){
    .describe-box-services{
        width: 15vw;
    }
    .passage-box-content{
        width: 49vw;
    }
}

@media screen and (max-width: 700px) {
    #top-container-vector-background {
        flex: 0;
    }

    #top-container-sentence h1{
        font-size: 2.5em;
    }
    
    #top-container-sentence h3{
        font-size: 1.7em;
    }

    .middle-container h3 {
        font-size: 1.5em;
        margin: 15px;
    }

    .describe-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .describe-box-services {
        width: 60%;
        margin-bottom: 2em;
        padding: 1.5em;
    }

    .describe-box-image i {
        font-size: 10vw;
    }

    .describe-box-services h4 {
        font-size: 3.5vw;
    }

    .passage-box-content {
        width: 60%;
        height: auto;
        margin: 0 0 2em 0;
    }

}

@media screen and (max-width: 400px) {
    #top-container-sentence h1{
        font-size: 2em;
    }
    
    #top-container-sentence h3{
        font-size: 1.5em;
    }

    .passage-box-content div {
        font-family: 'Maven Pro', sans-serif;
        text-align: center;
    }
}