body{
    line-height: normal !important;
}

.news-header {
    background-color: antiquewhite;
}

.news-header-background{
    height: 500px;
    background-image: url("./image/soft-pink-wooden-background.jpg");
    background-size: cover;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-header h1{
    font-size: 5em;
    color: white;
    font-weight: bold;
    text-shadow: grey 0.1em 0.1em 0.4em;
    font-family: 'Lobster Two', cursive;
}

.news-feed {
    margin-top: 50px;
}

.news-card {
    background-color: #FCE8E6;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    line-height: 1.5;
}

.news-title {
    font-weight: bolder;
}

.news-image img{
    max-width: 100%;
    /* width: 20%; */
}

.news-image {
    flex: 1;
    /* width: 40%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-content {
    flex: 1.5;
    /* width: 40%; */
    margin-left: 20px;
}

.news-content hr{
    margin: 0.5rem 0 !important;
}

.news-body{
    color: grey;
}

.news-text {
    min-height: 5vh;
}

.news-source {
    font-style: italic;
}

.publish-time{
    font-size: 0.7em;
}

@media screen and (max-width: 700px) {
    .news-header-background{
        height: 400px;
    }

    .news-feed {
        margin-top: 30px;
    }

    .news-card{
        flex-direction: column;
        align-items: center;
    }

    .news-image{
        margin-bottom: 20px;
    }

    .news-content {
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    .news-header-background{
        height: 250px;
    }
    
    .news-feed {
        margin-top: 30px;
    }

    .news-card{
        flex-direction: column;
        align-items: center;
    }

    .news-image{
        margin-bottom: 10px;
    }

    .news-content {
        margin: 0;
    }
}