body {
    background-image: url("./image/soft-pink-wooden-background.jpg");
    background-repeat: repeat;
    position: relative;
    height: 150vh;
}

/* footer {
    position: absolute;
    bottom: 0;
} */

.container {
    padding: 0;
    /* margin: 0; */
    width: 100%;
    /* height: 50vh; */
}

.opacity-background {
    opacity: 0.8;
    display: flex;
    align-items: center;
}

.add-report-card {
    background-color: whitesmoke;
    min-height: 100%;
    /* height: 80vh; */
    width: 80%;
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 100px auto 100px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 20px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.submit-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.report-data-selection {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.report-data-input {
    width: unset !important;
    margin-right: 15px;
}
.add-report-parameter{
    cursor: pointer; 
    font-size: 10px;
    color: turquoise;
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 50px;
}

.adding-new-parameter{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: red;

}