/* body {
    background-image: url("./image/soft-pink-wooden-background.jpg");
    background-repeat: repeat;
} */

/* header {
    height: 200px !important;
} */

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    height: 100vh;
}

.cat-browse-big-container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* @media (min-width: 1200px) {
    .cat-browse-big-container {
        max-width: 1140px;
    }
    .cat-browse-container {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .cat-browse-big-container {
        max-width: 960px;
    }
    .cat-browse-container {
        width: 80%;
    }
}

@media (min-width: 768x) {
    .cat-browse-big-container {
        max-width: 720px;
    }
    .cat-browse-container {
        width: 80%;
    }
} */

@media screen and (min-width: 200px) and (max-width: 700px) {
    /* .cat-browse-big-container {
        max-width: 540px;
    } */
    .cat-browse-container {
        width: 80% !important;
        justify-content: center !important;
    }
}

.cat-browse-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    width: 45%;
    /* animation: fadein 1s ease; */
}

.cat-browse-card-top-row {
    display: flex;
    width: 100%;
    align-items: center;
}

.cat-browse-profile-pic-container {
    width: 100%;
    height: 15vw;
    flex: 1;
    display: flex;
    justify-content: center;
}

.cat-browse-profile-pic {
    border-radius: 999px;
    width: 15vw;
    height: 100%;
}

.cat-browse-card-top-data {
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    width: 40%;
}

.cat-browse-profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    object-fit: cover;
    object-position: center;
}

.cat-browse-card {
    border-radius: 35px;
    flex: 1;
    background-color: #FAEBD7;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    min-width: 100%;
}

.add-new-report {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.cat-browse-card-middle {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cat-browse-card-cat-name, .cat-browse-card-cat-name-middle {
    width: 100%;
    /* align-self: center; */
    display: flex;
    font-family: 'Comfortaa', cursive;
}

.cat-browse-card-cat-name-middle {
    margin-bottom: 10px;
}

.cat-browse-card-cat-name {
    padding: 20px;
}

.add-new-report-btn {
    /* width: 10px; */
    /* max-width: 40%; */
    height: 20px;
}

.check-record-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

#select-report {
    height: 20px;
    width: 300px;
    align-self: center;
}

.cat-browse-record-btn {
    width: 150px;
    max-width: 40%;
    height: 30px;
}

.have-report {
    display: inline-block;
}

.no-report {
    display: none;
}

.record-bar {
    font-family: 'Comfortaa', cursive;
    border-top: black solid;
    padding-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* check button */

.example_f {
    border-radius: 4px;
    background: #3c10da9f !important;
    border: none;
    background-color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    width: 180px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}

.example_f span {
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.example_f span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.example_f:hover span {
    padding-right: 25px;
}

.example_f:hover span:after {
    opacity: 1;
    right: 0;
}

/* check button */