.top-container{
    height: auto;
    position: relative;
    display: flex;
}

.top-container-background{
    flex: 1;
    height: 500px;
    display: flex;
    background-color: antiquewhite;
}

.top-container-background h2{
    width: 100%;
    font-size: 5em;
    color: darksalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster Two', cursive;
    text-align: center;
}

.middle-container{
    margin: 20px 0;
}

.cat-profile-box{
    width: 90%;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 20px;
}

.cat-profile-pic{
    flex: 1;
    display: flex;
    align-items: center;
}

.cat-profile-pic img{
    width: 100%;
}

.cat-profile-content{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
}

