body{
    margin: 0;
    position: relative;
    /* min-height: 150vh; */
    min-height: min-content;

}

header{
    position: sticky;
    top:0;
    z-index: 1;
}

.nav-bar{
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

#logo{
    flex: 1;
    font-size: 2em;
    font-family: 'Lobster Two', cursive;
}

#nav-bar-selection{
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}

#nav-bar-selection div{
    padding: 0 0 0 20px;
    font-size: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
}

#nav-bar-selection div:hover {
    color: wheat;
}

#nav-bar-selection div:after {    
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#nav-bar-selection div:hover:after { 
    width: 3rem; 
    left: auto;
}

/* footer{
    background-color: #F7BFC2;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    align-self: flex-end;
} */

#my-record-button:hover:after{
    width: 6.1em !important;
    left: auto;
}

#setting-button:hover:after{
    width: 4.3em !important;
    left: auto;
}

#logout-button:hover:after{
    width: 4.3em !important;
    left: auto;
}

.min-button{
    display: none;
}

@media screen and (max-width: 500px) {
    .min-button{
        display: block;
    }
    #home-button, #news-button, #setting-button, #logout-button{
        display: none;
    }

    #nav-bar-selection div:hover:after { 
        width: 0; 
        left: auto;
    }

    #my-record-button:hover:after{
        width: 0;
        left: auto;
    }
    
    #setting-button:hover:after{
        width: 0;
        left: auto;
    }
    
    #logout-button:hover:after{
        width: 0;
        left: auto;
    }
}