.container{
    min-height: 90vh;
    background-color: #FFF1E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arima Madurai', cursive;
}

.container h1{
    margin: 80px auto 30px;
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
}

.cat-organ-container{
    display: flex;
    width: 100%;
}

.basic-info{
    flex: 1;
    box-sizing: border-box;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.cat-info{
    text-align: end;
}

.cat-info-name{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

.general{
    display: flex;
    align-items: center;
}

.general object{
    width: 3vw;
    margin-right: 1vw;
}

.general-name, .electrolytes-name{
    cursor: pointer;
}

.general-name span{
    font-size: 1.2em;
}

.electrolytes-name span{
    font-size: 1.2em;
}

.cat-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-image object{
    width: 30vw;
    padding: 0 20px;
}

.cat-organ{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cat-organ-icon{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.organ-icon-name{
    flex:1;
    font-size: 1.5em;
    margin-left: 2vw;
    cursor: pointer;
}

.organ{
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
    border-radius: 10px;
    padding: 5px;
}

.organ object{
    width: 5vw;
}

.remark{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

#remark-bad{
    margin-left: 20px;
}

.remark > div > span{
    font-size: 1.2em;
}

.cat-organ-details{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.organ-details{
    width: 100%;
    min-height: 300px;
    border-radius: 3px;
    padding: 20px 55px 45px;
    box-sizing: border-box;
}

.organ-details-name{
    margin-top: 10px;
    font-size: 3em;
    color: black;
    border-bottom: solid;
    line-height: 55px;
}

#organ-details-liver, #organ-details-pancreas, #organ-details-general{
    background-color: #EDDCD2;
}

.organ-details-description{
    display: flex;
}

.organ-details-description div{
    flex: 1;
}

.description-list > ul > li {
    padding: 3px 0;
}

.diagram{
    display: flex;
    flex-direction: column;
}

.supplement-image {
    width: 20px;
    height: 20px;
}

.suggested-supplement{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    /* width: 40px;
    height: 40px; */
}

.supplement-image-text > a,
.supplement-image-text > span {
    font-size: 25px;
}